html
    head
        style 
            include ./kalender.css
        
        script.
            async function post(url, objekt) { 
                const respons = await fetch(url, { 
                method: "POST", 
                body: JSON.stringify(objekt), 
                headers: { 
                'Content-Type': 'application/json' 
                    } 
                }); 

                if (respons.status !== 201) // Created 
                throw new Error(respons.status); 
                return await respons.text(); 
            } 
 
            let clickfunction = async (value) => { 
                try {
                    await post("http://localhost:8080/shiftWeeks", {value : value});
                    window.location.href = "http://localhost:8080/";
                }
                catch (e) {
                    console.log("Fejl");
                }
            }

            let bookClickFunction = async (dag) => { 
                try {
                    let type = document.getElementById("type").value
                    await post("http://localhost:8080/bookTid", {dag : dag, type : type});
                    window.location.href = "http://localhost:8080/information";
                }
                catch (e) {
                    console.log("Fejl");
                }
            }

        title Kalender 
    body
        div
            label Vælg produkt 
            input(id="type" list = "Produkttyper")
            datalist(id = "Produkttyper")
                option(value = "Familieportræt")
                option(value = "Bryllup")
    
        center 
            div
                table
                    tr 
                        td 
                            label(id = "Årstal") #{årstal}
                        td 
                            button(id = "Tilbage" onclick='clickfunction("' + (-1) + '")') <- tilbage
                        td 
                            label(id ="Uge")
                                if weekNumber > 52
                                    p Uge #{weekNumber-52}
                                else 
                                    p Uge #{weekNumber}
                        td 
                            button(id = "Frem" onclick='clickfunction("' + 1 + '")') Frem ->
        

        center 
            div(class="grid-containerHori")
                div(class="grid-item-tid")
                    b Tider
                each dag in dage
                    div(class="grid-item")
                        b #{dag.navn}
                        b #{dag.dato}
        center 
            div(class="grid-containerVert")  
                each tid in list 
                    div(class="grid-item-tid")
                        b #{tid.tid}
                each dag in dage
                    each ledigTid in dag.tider
                        div(class="grid-item")
                            if ledigTid.tid != "Optaget"
                                button(onclick='bookClickFunction("'+dag.dato+ '/' +årstal+'/'+ledigTid.tid + '")') #{ledigTid.tid}
                            else 
                                b #{ledigTid.tid}
        