html

    head
        style 
            include ./kalender.css

        title Kalender 
    body

        div
            label Vælg produkt 
            input(list = "Produkttyper")
            datalist(id = "Produkttyper")
                option(value = "Familieportræt")
                option(value = "Bryllup")
                option(value = "Pugstars!")
    
        center 
            div
                table
                    tr 
                        td 
                            label(id = "Årstal")
                                p=new Date().getFullYear()
                        td 
                            button(id = "Tilbage") <- tilbage
                        td 
                            label(id ="Uge") Uge #{weekNumber}
                        td 
                            button(id = "Frem") Frem ->
        

        center 
            div(class="grid-containerHori")
                div(class="grid-item-tid")
                    b Tider
                each dag in dage
                    div(class="grid-item")
                        b #{dag.navn}
        center 
            div(class="grid-containerVert")  
                each tid in list 
                    div(class="grid-item-tid")
                        b #{tid.tid}
                each dag in dage
                    each ledigTid in dag.tider
                        div(class="grid-item")
                            b #{ledigTid.tid}
            